.Order{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-success{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order-success-img{
    width: 200px;
    height: auto;
}
.order-success-img img{
    width: 100%;
   
}

.past-orders{
    text-align: center;
}

.no-order img {
width: 100%;
}